
.grid-container {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width:100%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.grid-element {

}
.twobytwoTop {
  grid-row-start:1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

.twobytwoBottom {
  grid-row-start:3;
  grid-column-start: 3;
  grid-row-end: 5;
  grid-column-end: 5;
}


.grid-element img {
  width:100%;
}




@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }




}
